body{
	line-height: 17px;
	background-color: #E6EAE8
}
a{
	color: #337ab7;
	text-decoration: none;
}
button, html input[type="button"],  input[type="submit"]{
	cursor: pointer;
}
.top_bar{
	width: 100%;
	min-width: 1050px;
	height:40px;
	background-color: #4A6483;
	border-bottom: 0.25em solid #34495e;
	margin:0 0 10px 0;
	display: inline-flex;
	position: fixed;
	z-index: 10;
}
.logo a{
	margin-left: 10px;
	font-size: 30px;
	position: relative;
	top: 9px;
	text-decoration: none;
	color: #fff;
	padding-right: 10px;
}
nav{
	float: right;
	right: 1px;
	position: absolute;
	margin: 10px;
}
nav a{
	position: relative;
	color: #fff;
	text-decoration: none;
	font-size: 17px;
	padding-right: 10px;
}
nav a:hover{
	/*border-bottom: 7px solid #ecf0f1; */
	
}
.wrapper{
	margin: 0 auto;
	top: 55px;
	position: relative;
	padding: 0 10px;
	width: 75%;
	min-width: 950px;
}
.column{
	background-color: #fff;
	padding: 10px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #D3D3D3;
	width: 260px;
	float: left;
	z-index: -1;
}
.user_details {
	width: 260px;
	float: left;
	margin-bottom: 20px;
}
.user_details_left_right{
	width: 125px;
	display: inline-block;
	position: absolute;
}
.user_details img{
	height: 125px;
	border-radius: 5px;
	margin-right: 7px;
}
.user_details a{
	text-decoration: none;
}
.main_column{
	float: right;
	width: 70%;
	z-index: -1;
	min-height: 160px;
}
.post_form{
	width: 100%;
}
.post_form textarea{
	width: 80%;
	height: 100px;
	border-radius: 5px;
	margin-right: 5px;
	border: 1px solid #D3D3D3;
	font-size: 18px;
	padding: 5px;
}
/*#post_skills{
	width: 80%;
	height: 35px;
	border-radius: 5px;
	margin: 5px 5px 0 0;
	border: 1px solid #D3D3D3;
	font-size: 18px;
	padding: 5px;
}*/
select option{
	width: 80%;
	height: 23px;
	border-radius: 3px;
	margin: 5px;
	border: 1px solid #D3D3D3;
	font-size: 15px;
	padding: 3px ;
	float: left;
}
.post_form input[type="submit"]{
	width:7%;
	height: 30px;
	background-color: #4B6584;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}
.status_post {
	width: 96%;
	font-size: 15px;
	padding: 0px 5px;
	min-height: 75px;
	cursor: pointer;
	text-align: justify;
}
.post_profile_pic {
	float: left;
	margin-right: 7px;
}
.post_profile_pic img {
	border-radius: 5px;
}
#comment_iframe{
	max-height: 250px;
	width: 100%;
	margin-top: 5px;
}
.comment_section{
	padding: 0 5px 5px 5px;
}
.comment_section img{
	margin: 0 3px 3px 3px;
	border-radius: 3px;
}
#comment_form textarea{
	border-color: #D3D3D3;
	width: 85%;
	height: 50px; 
	border-radius: 5px;
	color: #616060;
	font-size: 14px;
	margin: 3px 3px 3px 5px;
}
#comment_form input[type="submit"]{
	border: none;
	background-color: #20AAE5;
	color: #fff;
	border-radius: 3px;
	width: 12%;
	height: 35px;
	margin-top: 22px;
	position: absolute;
	font-size: 15px;
}
.newsfeedPostOptions{
	padding: 0px;
	text-decoration: none;
	color: #20AAE5;
	border: none;
}
.newsfeedPostOptions iframe{
	border: 0px;
	height: 22px;
	width: 120px;
}
.comment_like{
	background-color: transparent;
	border: none;
	font-size: 14px;
	color: #3498bd;
	padding: 0;
	height: auto;
	width: auto;
	margin: 0;
	cursor: pointer;
}
.like_value{
	display: inline;
	font-size: 14px;
}
.profile_left{
	position: relative;
	top: -15px;
	width: 17%;
	max-width: 240px;
	min-width: 130px;
	height: 100%;
	float: left;
	background-color: #37B0E9;
	border-right: 10px solid #83D6FE;
	color: #CBEAF8;
	margin-right: 20px;
}
.profile_left img{
	min-width: 80px;
	width: 55%;
	margin: 20px;
	border: 5px solid #83D6FE;
	border-radius: 100px;
}
.profile_info{
	display: list-item;
	background-color: #2980b9;
	width: 100%;
	padding: 10px 0 10px 0;
}
.profile_info p{
	margin: 5px 0 0 20px;
	word-wrap: break-word;
}
.danger{
	background-color: #e74c3c;
}
.warning{
	background-color: #f0ad4e
}
.default{
	background-color: #bdc3c7;
}
.success{
	background-color: #2ecc71;
}
.ifo{
	background-color: #3498db;
}
.deep_blue{
	background-color: #0043f0;
}
.profile_left input[type="submit"]{
	width: 90%;
	height: 30px;
	border-radius: 5px;
	margin: 7px 0 0 7px;
	border: none;
	color: #fff;
	cursor: pointer;
}
#accept_button{
	width: 20%;
	height: 28px;
	border-radius: 5px;
	margin: 7px 0 0 7px;
	border: none;
	background-color: #2ecc71;
	color: #fff;
	cursor: pointer;
}
#ignore_button{
	width: 20%;
	height: 28px;
	border-radius: 5px;
	margin: 7px 0 0 7px;
	border: none;
	background-color: #e74c3c;
	color: #fff;
	cursor: pointer;
}
.delete_button {
	height: 22px;
	width: 22px;
	padding: 0;
	float: right;
	border-radius: 4px;
	right: -15px;
	position: relative;
}

#message_textarea{
	width: 80%;
	margin-right: 8px;
	border-radius: 4px;
	border: 1px solid #D3D3D3;
	font-size: 15px;
}
#message_submit{
	height: 41px;
	width: 120px;
	margin: 0;
	position: absolute;
	background-color: #20AAE5;
	border: none;
	color:#fff;
	border-radius: 4px;
	/*font-family: ;*/
	text-shadow: #73B6E2 0.5px 0px;
}
.message {
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px 10px;
	display: inline-block;
	color: #fff;
}

.message#blue {
	background-color: #3498db;
	border-color: #2980b9;
	float: right;
	margin-bottom: 5px;
}
.message#green {
	background-color: #95a5a6;
	border-color: #7f8c8d;
	float: left;
	margin-bottom: 5px;
}

.loaded_messages {
	height: 65%;
	min-height: 300px;
	max-height: 400px;
	overflow: scroll;
	margin-bottom: 10px;
}

.loaded_conversations {
	max-height: 216px;
	overflow: scroll;
}

.user_found_messages {
	border-bottom: 1px solid #D3D3D3;
	padding: 8px 8px 10px 8px;
}

.user_found_messages:hover {
	background-color: #D3D3D3;
}

.user_found_messages img {
	height: 35px;
	float: left;
}

#grey {
	color: #8C8C8C;
}
.dropdown_data_window{
    background-color: #fff;
    border: 1px solid #DADADA;
    border-radius: 0 0 8px 8px;
    border-top: none;
    width: 300px;
    position: absolute;
    right: 10px;
    top: 40px;
    overflow: scroll;
}
.notification_badge {
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #F00;
	border-radius: 10px;
	position: absolute;
	left: 8px;
	top: -5px;
}
.resultDisplayNotification {
	height: auto;
    color: #1485BD;
    padding-bottom: 10px;
}

.resultDisplayNotification img {
    height: 40px;
    border-radius: 5px;
    margin: 1px 12px 0px 2px;
    float: left;
}
.timestamp_smaller {
	font-size: 85%;
	margin: 0;
}
.settings_img_section{
	float: left;
	width: 30%;
}
.settings_details_section{
	float: left;
	width: 70%;
}
.settings_img_section a {
	border: 1px solid #ccc;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
}
.small_profile_pic {
	height: 180px;
    margin: 1px 15px 10px 2px;
}

.settings_details_section input[type="text"],  input[type="password"], input[type="email"] {
	border: 1px solid #ccc;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
}

.settings_submit {
	border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #fff;
}
